nav>ul {
    background-color: #f0f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
} 
nav>ul>li>button {
    background-color: orange;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
} 
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 0.0625rem solid #ddd;
    padding: 0.5rem;
    text-align: left;
}
tbody>tr :hover {
    cursor: pointer;
}

.edit-btn, .delete-btn {
    background-color: orange;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: red;
}